/* RESET RULE */
* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}


/* GRID BLOCK STYLING */
.blue {
    color: #1B63DA;
}

.green {
    color: #148C2C;
}

.red {
    color: #D31C10;
}

.yellow {
    color: #EFB611;
}

H1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
}

.row {
    height: 100vh;
}

section {
    padding: 20%;
    border: black 0.5px solid;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.container-fluid {
    padding: 0;
}


/* MEDIA QUERIES */
@media (min-width: 540px) {
    
    h1 {
        font-size: 30px;
    }

}

@media (min-width: 720px) {
    
    h1 {
        font-size: 35px;
    }

}

@media (min-width: 960px) {
    
    h1 {
        font-size: 40px;
    }

}

@media (min-width: 1140px) {
    
    h1 {
        font-size: 50px;
    }

}
