* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

.blue {
    color: #1B63DA;
}

.green {
    color: #148C2C;
}

.red {
    color: #D31C10;
}

.yellow {
    color: #EFB611;
}

H1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
}

section {
    padding: 20%;
    border: black 1px solid;
}