/* RESET RULE */
* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}


/* GRID BLOCK STYLING */
.blue {
    color: #1B63DA;
}

.green {
    color: #148C2C;
}

.red {
    color: #D31C10;
}

.yellow {
    color: #EFB611;
}

.black {
    color: #000000;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
}

.row {
    height: 100vh;
}

section {
    padding: 20%;
    border: black 0.5px solid;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.container-fluid {
    padding: 0;
    width: 100%;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.colors, .numbers2, .numbers3 {
    cursor: pointer;
}

/* TRANSITION STYLING */
.flash {
	background-color: #D0D0D0;
	transition: all linear;
}

/* FORTUNE STYLING */
#fortune-wrapper {
	width: 300px;
	margin: auto;
	height: 300px;
	margin-bottom: 20px;
}

#fortune-wrapper p {
    color: white;
    width: 150px;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-top:50%;
    margin-left: 30%;
}

#fortune-wrapper p span {
	color: #000000;
}

.fortune-show {
	display: inline;
    transition: all 2s;
}

/* MEDIA QUERIES */
@media (min-width: 540px) {
    
    p {
        font-size: 30px;
    }

}

@media (min-width: 720px) {
    
    p {
        font-size: 35px;
    }

}

@media (min-width: 960px) {
    
    p {
        font-size: 40px;
    }

}

@media (min-width: 1140px) {
    
    p {
        font-size: 50px;
    }

}
